<form [formGroup]="formLoan">
  <div class="col-md-8 offset-2">
    <br>
    <div class="row">
      <div class="col-md-4">
        <label for="amount">Amount:</label>
        <input id="amount" type="number" class="form-control" formControlName="amount"
               placeholder="Example: $1 - $999,999"/>


      </div>
      <div class="col-md-4">
        <label for="terms">Terms:</label>
        <input id="terms" type="number" class="form-control" formControlName="terms" placeholder="Example: 4 - 52"/>
      </div>
      <div class="col-md-4">
        <label for="rate">Rate:</label>
        <input id="rate" type="number" class="form-control" formControlName="rate" placeholder="Example: 1% - 100%"/>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <button type="button" [disabled]="formLoan.invalid" class="btn btn-info" (click)="save()">Save</button>
      </div>
    </div>
    <br>


    <ng-container *ngIf="paymentPlan.length > 0">
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Amount</th>
              <th scope="col">Pending amount</th>
              <th scope="col">Payment date</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let payment of paymentPlan; index as i">
              <th scope="row">{{ payment.paymentNumber }}</th>
              <td> {{ payment.paymentAmount | number }}</td>
              <td>{{ payment.pendingAmount | number }}</td>
              <td>{{ payment.paymentDate }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>

  </div>


</form>

